## PANDAS

#### Pandas Series 1

Pandas is another library that has become almost all pervading in Data analysis using python.Pandas offer two powerful Data structres named series and DataFrame

1. Pandas is open source BSD licened
2. Pandas built is on top of Numlibrary
3. Pandas offer series, a one dimensional array of lablled or indexed data.In some effect that makes series object act like a dictionary.
4. DataFrames are multidimensional arrays.DataFrames provides row and column labels or indexes that can be used for efficient access of rows, columns or elements
5. DataFrames allow for working with missing data
6. DataFrames acts similarly Database tables or spreadsheet and other similar features to them such as data grouping, group operations, filtering, efficient condition-based data manupulations, creating pivot tables etc.
7. Pandas offers features to manupulate data structures and interoperability between various data structres.
8. Pandas offer efficient date time oeration and handling of time-indexed data.
9. In both Series and DataFrames, indexces can be explicitly defined and manupulated.
10. Pandas offer integration with several data/file formats such as CSV,excel, json. import from or export to these dataformats are efficient and easy.
11. Pandas offer integration with several visualisation tools such as matplotlib and seaborn libraries.

In [1]:
import pandas as pd

## Pandas Series of Objects

In [17]:
# Create first pandas series object
ser1 = pd.Series([7,9,3,5,2,4])
print(ser1)
ser1 = pd.Series([7,9,3,5,2,4],index = ['a','b','c','d','e','f'])
print(ser1)

0    7
1    9
2    3
3    5
4    2
5    4
dtype: int64
a    7
b    9
c    3
d    5
e    2
f    4
dtype: int64

In [3]:
# Creating a Series object using a Numpy Array
import numpy as np
arr1 = np.array([1,2,3,4,5,6,7,8,9])
print(arr1)
ser1 = pd.Series(arr1)
print(ser1)

[1 2 3 4 5 6 7 8 9]
0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int32

In [4]:
# Creating a Series object using a Dictionary
dict_trans = {"Tran_Id":"T0089","Cust_Id":"C000867","ATM_Location":"HSR Layout","Acc_Type":"Savings"}
ser1 = pd.Series(dict_trans)
print("Import the whole Dictionary: \n",ser1,'\n')
ser1 = pd.Series(dict_trans, index = ['Tran_Id','Acc_Type','Cust_Id'])
print("Import Only specified Indexces from the Dictionary: \n",ser1)

Import the whole Dictionary:
 Tran_Id              T0089
Cust_Id            C000867
ATM_Location    HSR Layout
Acc_Type           Savings
dtype: object

Import Only specified Indexces from the Dictionary:
 Tran_Id       T0089
Acc_Type    Savings
Cust_Id     C000867
dtype: object

#### Accessing Series Elements

In [5]:
# Accessing elements of a series objects
ser1 = pd.Series([7,9,3,5,2,4],index = ['a','b','c','d','e','f'])
print("Print the Whole series::- \n",ser1)
print("print the 3rd element: \n",ser1[2])
print("print the elements between the 2nd to 4th position : \n",ser1[1:4])

Print the Whole series::-
 a    7
b    9
c    3
d    5
e    2
f    4
dtype: int64
print the 3rd element:
 3
print the elements between the 2nd to 4th position :
 b    9
c    3
d    5
dtype: int64

In [6]:
# Accessing elements of a series objects by specifying Index values
ser1 = pd.Series([7,9,3,5,2,4],index = ['a','b','c','d','e','f'])
print("print a slice using explicite indexces::-- \n",ser1['b':'d'])

print a slice using explicite indexces::--
 b    9
c    3
d    5
dtype: int64

#### Pandas Series 2

Accessing series objects using 'loc' 'iloc' indexcers

In [7]:
# Accessing elements of a series objects by using the 'loc'
ser1 = pd.Series([7,9,3,5,2,4],index = ['a','b','c','d','e','f'])
print(ser1)
print("Print a Single element using loc:--\n",ser1.loc['b'])
print("Print a slice element using loc:--\n",ser1.loc['b':'d'])

a    7
b    9
c    3
d    5
e    2
f    4
dtype: int64
Print a Single element using loc:--
 9
Print a slice element using loc:--
 b    9
c    3
d    5
dtype: int64

#### implicit or integer based indexing using iloc

In [8]:
# Accessing elements of a Series Objects using iloc
ser1 = pd.Series([7,9,3,5,2,4],index = ['a','b','c','d','e','f'])
print(ser1)
print("Print a Single element using iloc:--\n",ser1.iloc[2])
print("Print a slice element using iloc:--\n",ser1.iloc[1:4])

a    7
b    9
c    3
d    5
e    2
f    4
dtype: int64
Print a Single element using iloc:--
 3
Print a slice element using iloc:--
 b    9
c    3
d    5
dtype: int64

In [9]:
# Accessing elements of a Series Objects using iat
ser1 = pd.Series([7,9,3,5,2,4],index = ['a','b','c','d','e','f'])
print(ser1.iat[2])

3

#### Series Objects attribute

In [10]:
# Return the Python Array equivalent of the series
arr1 = ser1.array
print(arr1)

<PandasArray>
[7, 9, 3, 5, 2, 4]
Length: 6, dtype: int64

In [11]:
# Return the Python Array equivalent of the series axexes
axes1 = ser1.axes
print(axes1)

[Index(['a', 'b', 'c', 'd', 'e', 'f'], dtype='object')]

In [12]:
# Return the Python Array element datatypes dtypes
ser1 = pd.Series([7,9,3,5,2,4])
ser2 = pd.Series(['a','b','c','d','e','f'])
ser3 = pd.Series([12.78,90,876,56.9008])
ser4 = pd.Series([1,'s',45.78,True])
print("Data Type of Ser1::--",ser1.dtypes)
print("Data Type of Ser2::--",ser2.dtypes)
print("Data Type of Ser3::--",ser3.dtypes)
print("Data Type of Ser4::--",ser4.dtypes)

Data Type of Ser1::-- int64
Data Type of Ser2::-- object
Data Type of Ser3::-- float64
Data Type of Ser4::-- object

In [13]:
# Return True if the series have any NaN values otherwise false
ser1 = pd.Series([7,9,3,5,2,4])
print("Check wheather ser1 has NaN values:-",ser1.hasnans)
ser1[2] = np.nan
print("ser1:\n", ser1)
print("Check wheather ser1 has NaN values:-",ser1.hasnans)

Check wheather ser1 has NaN values:- False
ser1:
 0    7.0
1    9.0
2    NaN
3    5.0
4    2.0
5    4.0
dtype: float64
Check wheather ser1 has NaN values:- True

In [14]:
# Return the Indexes values of the Series Objects
ser1 = pd.Series([7,9,3,5,2,4],index = ['a','b','c','d','e','f'])
print(ser1.index)

Index(['a', 'b', 'c', 'd', 'e', 'f'], dtype='object')

In [15]:
# Print if the series values are monotonic increasing
import pandas as pd
ser1 = pd.Series([1,2,3,4,5,6])
print(ser1)
print(ser1.is_monotonic)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

AttributeError: 'Series' object has no attribute 'is_monotonic'

In [ ]:
ser1 = pd.Series([1,2,3,4,5,6])
print(ser1)
print(ser1.is_unique)

In [ ]:
ser1 = pd.Series([1,2,3,4,5,6])
print(ser1)
print(ser1.nbytes)

In [ ]:
ser1 = pd.Series([1,2,3,4,5,6])
print(ser1)
print(ser1.size)

In [ ]:
ser1 = pd.Series([1,2,3,4,5,6])
print(ser1)
print(ser1.values)

## Series Object method

In [ ]:
# The add method adds corresponding elements from two series objects
ser1 = pd.Series([1,2,3,4,5,6])
ser2 = pd.Series([10,20,30,40,50,60])
print(ser1.add(ser2))

In [ ]:
# The append method concatenates one Series at the end of the other
ser1 = pd.Series([1,2,3,4,5,6])
ser2 = pd.Series([10,20,30,40,50,60])
print(ser1.append(ser2))

In [ ]:
#use 'astype' method to cast the elements to another data type
ser1 = pd.Series([1,2,3,4,5,6])
print(list(ser1.astype(str)))

In [ ]:
## Extract values of an element at a specified date/time in Date/Time Index series

# Filter/Extract specific elements with date/time index series
dt_tm = pd.date_range('2020-4-1', periods = 5, freq='6H')
ser1 = pd.DataFrame({'A': ['Sleep','Breakfast','Lunch','Snacks','Dinner']}, index = dt_tm)
print("Series: \n",ser1)
print("\n", ser1.at_time('18:00'))

#### Panda Series 3

In [ ]:
# Use between Method
ser1 = pd.Series([1,2,3,4,5,6])
print(ser1.between(2,4))

In [ ]:
# Copies One Series to New one
# Series Deep Copy and Shallow copy
ser1 = pd.Series([3,4,5])
ser2 = ser1.copy(deep = True)
ser1[2] = 8
print("Series 1::- \n",ser1)
print("Series 2 - Deep copy:-\n",ser2)
ser3 = ser1.copy(deep = False)
ser1[2] = 8
print("Series 3 - Shallow copy:-\n",ser3)

In [ ]:
# Count of Element, Return the number of elements in a series

ser1 = pd.Series([3,4,5])
print(ser1.count())

In [ ]:
#### Print discriptive Statisstics of the series elements
ser1 = pd.Series([12,21,14,10,15,19])
ser1.describe()

In [ ]:
# Devides corresponding elements from two series objects
ser1 = pd.Series([5,45,6,8,90,64])
ser2 = pd.Series([8,24,88,60,56, 40])
print(round(ser1.div(ser2),2))

In [ ]:
# Drop method removes the specified elements from a series objects
ser1 = pd.Series([7,9,3,5,2,4],index = ['a','b','c','d','e','f'])
ser2 = ser1.drop(labels = ['c','e'])
print(ser2)

In [ ]:
# dropna method removes null or missing values from series
ser1 = pd.Series([3,5,8,9,5])
ser1[2] = np.nan
print("Series 1 \n", ser1)
print("Check the series after droping nans: \n", ser1.dropna())

In [ ]:
# Check if two series Object are equal
ser1 = pd.Series([3,5,8,9,5])
ser2 = pd.Series([3,5,8,9,5,9])
print(ser1.equals(ser2))

In [ ]:
# Fills the NaN values in  series object with a specified value
ser1 = pd.Series([3,5,8,9,5])
ser1[2] = np.nan
print("Check the series after filling nans: \n", ser1.fillna(12))

In [ ]:
#floordiv methods
ser1 = pd.Series([5,4,52,64,47,45])
ser2 = pd.Series([10,20,20,40,40, 60])
print(ser1.floordiv(ser2))

In [ ]:
# Grouping of series elements
ser1 = pd.Series([23,34,56,76,53,54,55,87], index=['HR','HR','SALES','HR','SALES','HR','HR','SALES'])
ser1.groupby(level=0).sum()

In [ ]:
#print the first 5 elements
ser1 = pd.Series([23,34,56,76,53,54,55,87])
ser1.head()

In [ ]:
## idxmax returns the label or index of the maximum values in a series
ser1 = pd.Series([23,34,56,76,53,54,55,87], index=['HR','Mkt','QUTY','MANU','FIN','ADVT','OPS','ITES'])
ser1.idxmax()

In [ ]:
## idxmin returns the label or index of the minimum values in a series
ser1 = pd.Series([23,34,56,76,53,54,55,87], index=['HR','Mkt','QUTY','MANU','FIN','ADVT','OPS','ITES'])
ser1.idxmin()

In [16]:
#Check membership
ser1 = pd.Series([23,34,56,76,53,54,55,87])
ser1.isin([87])

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7     True
dtype: bool

In [ ]:
#Check existance of NaN values in series objects
ser1 = pd.Series([23,34,56,76,53,54,55,87,None])
ser1.isna()

In [19]:
#multyply method
ser1 = pd.Series([5,4,52,64,47,45])
ser2 = pd.Series([10,20,20,40,40, 60])
print(ser1.multiply(ser2))

0      50
1      80
2    1040
3    2560
4    1880
5    2700
dtype: int64

In [18]:
#replace method replaces value in a series with other values
ser1 = pd.Series([5,4,52,64,47,45])
ser1.replace({64:98})

0     5
1     4
2    52
3    98
4    47
5    45
dtype: int64

#### Pandas Series 4

In [20]:
# Rounding of Series elements
ser1 = pd.Series([23.856787,34.765,45.879,53.987,27.798,5.8755,8.6565])
print(ser1.round(2))

0    23.86
1    34.76
2    45.88
3    53.99
4    27.80
5     5.88
6     8.66
dtype: float64

In [24]:
# Find the standard deviation with std method
ser1 = pd.Series([23, 45,34,53,27,5,8])
stdv = ser1.std()
print(round(stdv,2))

17.82

In [25]:
# str enables string function to be applied on Series Objects
ser1 = pd.Series(['HR','Mkt','QUTY','MANU','FIN','ADVT','OPS','ITES'])
ser1_str = ser1.str.replace('M','Y')
print(ser1_str)

0      HR
1     Ykt
2    QUTY
3    YANU
4     FIN
5    ADVT
6     OPS
7    ITES
dtype: object

In [26]:
#Subtraction of One series element from another
ser1 = pd.Series([5,45,6,8,90,64])
ser2 = pd.Series([8,24,88,60,56, 40])
print(ser1.sub(ser2))

0    -3
1    21
2   -82
3   -52
4    34
5    24
dtype: int64

In [27]:
# Convert a Series oBject to Dictionary
ser1 = pd.Series([23,34,56,76,53,54,55,87], index=['HR','Mkt','QUTY','MANU','FIN','ADVT','OPS','ITES'])
ser1_dict = ser1.to_dict()
print(ser1_dict)

{'HR': 23, 'Mkt': 34, 'QUTY': 56, 'MANU': 76, 'FIN': 53, 'ADVT': 54, 'OPS': 55, 'ITES': 87}

In [30]:
#Convert a series object to an Excel sheet (External File) with to_excel method

ser1 = pd.Series([23,34,56,76,53,54,55,87], index=['HR','Mkt','QUTY','MANU','FIN','ADVT','OPS','ITES'])
ser1dict = ser1.to_excel('ser1.xls')

ValueError: No engine for filetype: 'xls'

In [31]:
# Convert a Series oBject to List object
ser1 = pd.Series([23,34,56,76,53,54,55,87], index=['HR','Mkt','QUTY','MANU','FIN','ADVT','OPS','ITES'])
ser1tolist = ser1.to_list()
print(ser1tolist)

[23, 34, 56, 76, 53, 54, 55, 87]

In [32]:
# trauncate a series object
ser1 = pd.Series([23,34,56,76,53,54,55,87])
sert1 = ser1.truncate(before=3)
print(sert1)
sert2= ser1.truncate(after=3)
print(sert2)

3    76
4    53
5    54
6    55
7    87
dtype: int64
0    23
1    34
2    56
3    76
dtype: int64

In [34]:
# Find unique element in a Series
ser1 = pd.Series([23,34,56,76,53,53,54,55,55,87])
sert1 = ser1.unique()
print(sert1)

[23 34 56 76 53 54 55 87]

In [36]:
# Create Multi-Leveled Index objects
index = [('Tendulkar','Test'),('Tendulkar','ODIs'),('Sanggakara','Test'),('Sanggakara','ODIs'),('Ponting','Test'),('Ponting','ODIs')]
runs = [16000, 18000, 12000, 14000, 13000, 13000] 
index = pd.MultiIndex.from_tuples(index)
records = pd.Series(runs, index=index)
print(records)

Tendulkar   Test    16000
            ODIs    18000
Sanggakara  Test    12000
            ODIs    14000
Ponting     Test    13000
            ODIs    13000
dtype: int64

#### Accessing multi series level object

In [38]:
print("Print all of Sanggakar's Record: \n",records.loc['Sanggakara'])
print("Print all of Tendulkar's ODI Record: \n",records.loc['Tendulkar','ODIs'])

Print all of Sanggakar's Record:
 Test    12000
ODIs    14000
dtype: int64
Print all of Tendulkar's ODI Record:
 18000