## Map, Reduce, filter and Lamda function

###### Lamda function are inline anonymous function.It contains only one expression has no exlicit return statment.Lamda function are fast in exicutain than traditional functions

Lamda is a mechanism for building functions (or more preciously function object)
- Lamda function can contain only single expression
- Can be nameless
- Inline
- Cleaner to use to be in case of single use
- They return a function object

In [1]:
# In the following code, we will perform an operation to find the cube of a given number
# To do that, we will use three different method:
# Using traditional python function using def method
# Create a named Lambda function
# Use an inline Lamda function

from time import time_ns

def cubed(x):
    return x**3
lambda_cubed = lambda x:x**3

start = time_ns() # Return time in nanoseconds since epoch (JAN 1, 1970)

print(f"Cube of 9 is,{cubed(9)}")
print(f"Time taken by traditional method: {(time_ns()-start)//1000} ms\n")

start = time_ns()

print(f"Cube of 9 is,{lambda_cubed(9)}")
print(f"Time taken by lambda function: {(time_ns()-start)//1000} ms\n")

start = time_ns()

print(f"Cube of 9 is,{(lambda x:x**3)(9)}")
print(f"Time taken by inline lambda function: {(time_ns()-start)//1000} ms\n")

Cube of 9 is,729
Time taken by traditional method: 0 ms

Cube of 9 is,729
Time taken by lambda function: 0 ms

Cube of 9 is,729
Time taken by inline lambda function: 0 ms

### Using map() function

###### Syntax of the lambda function
###### map(lambda item:item[] expression, iterable )

In [2]:
numbers = [4,5,7,9,23]
mapped_numbers = list(map(lambda x: x^3 + x^2, numbers))
print(mapped_numbers)

[13, 30, 16, 34, 96]

In [8]:
# How to convert int value to binary
print(bin(20))

0b10100

In [10]:
# How to convert binary value to int
print(int(0b10100))

20

In [15]:
# Bitwise XOR operation
# Sets each bit to 1 if only one of two bits is 1
x = 4            # 00010100
y = 2             # 00000100
print(x ^ y)      # 00010000
print(bin(16))

6
0b10000

In [18]:
# Create DataFrame from Gapminder Data
import pandas as pd
gm_df = pd.read_csv("C:/Users/parth/OneDrive/Desktop/PythonProjects/gapminder-FiveYearData.csv")
gm_df

          country  year         pop continent  lifeExp   gdpPercap
0     Afghanistan  1952   8425333.0      Asia   28.801  779.445314
1     Afghanistan  1957   9240934.0      Asia   30.332  820.853030
2     Afghanistan  1962  10267083.0      Asia   31.997  853.100710
3     Afghanistan  1967  11537966.0      Asia   34.020  836.197138
4     Afghanistan  1972  13079460.0      Asia   36.088  739.981106
...           ...   ...         ...       ...      ...         ...
1699     Zimbabwe  1987   9216418.0    Africa   62.351  706.157306
1700     Zimbabwe  1992  10704340.0    Africa   60.377  693.420786
1701     Zimbabwe  1997  11404948.0    Africa   46.809  792.449960
1702     Zimbabwe  2002  11926563.0    Africa   39.989  672.038623
1703     Zimbabwe  2007  12311143.0    Africa   43.487  469.709298

[1704 rows x 6 columns]

In [19]:
# Following is an example where you apply the map() function along with lambda function on a DataFrame column

gm_df['LifeExp_Der'] = list(map(lambda x:x*1.2,gm_df['lifeExp']))
gm_df

,country,year,pop,continent,lifeExp,gdpPercap,LifeExp_Der
0,Afghanistan,1952,8425333.0,Asia,28.801,779.445314,34.5612
1,Afghanistan,1957,9240934.0,Asia,30.332,820.853030,36.3984
2,Afghanistan,1962,10267083.0,Asia,31.997,853.100710,38.3964
3,Afghanistan,1967,11537966.0,Asia,34.020,836.197138,40.8240
4,Afghanistan,1972,13079460.0,Asia,36.088,739.981106,43.3056
...,...,...,...,...,...,...,...
1699,Zimbabwe,1987,9216418.0,Africa,62.351,706.157306,74.8212
1700,Zimbabwe,1992,10704340.0,Africa,60.377,693.420786,72.4524
1701,Zimbabwe,1997,11404948.0,Africa,46.809,792.449960,56.1708
1702,Zimbabwe,2002,11926563.0,Africa,39.989,672.038623,47.9868
1703,Zimbabwe,2007,12311143.0,Africa,43.487,469.709298,52.1844

In [23]:
#Define an aggregation function
def cumul(x,y):
    result = x * y
    print(f"{x} * {y} = {result}")
    return result

In [24]:
print(cumul(4,5))

4 * 5 = 20
20

In [25]:
numbers = [4,5,6,3,8]

In [26]:
from functools import reduce
out = reduce(cumul,numbers)
print(out)

4 * 5 = 20
20 * 6 = 120
120 * 3 = 360
360 * 8 = 2880
2880

### Now using Reduce with Lambda function

In [27]:
cuml_l = lambda x, y:x*y

In [28]:
out1 = reduce(cuml_l, numbers)
print(out1)

2880