### TUPLES

###### Tuples is an Order sequence of Items same as list. The only difference is that Tuples are immutable

In [1]:
# Creating toples in various ways
tup1 = () 
print("Content of an empty tuple", tup1)
tup1 =(1,2,3,4,5,6)
print("Content with an  tuple", tup1)

tup1 = (1,5,(7,3,9),5,4) 
print("Nested tuple", tup1)

tup1 = (1,5,(7,3,9),5,4,[8,10,56]) 
print("Content of Tuple with Nested List", tup1)
tup1 = ('Rohit','Dhoni',7,3,9,True, 4500) 
print("Content of Tuple with mixed valuest", tup1)

Content of an empty tuple ()
Content with an  tuple (1, 2, 3, 4, 5, 6)
Nested tuple (1, 5, (7, 3, 9), 5, 4)
Content of Tuple with Nested List (1, 5, (7, 3, 9), 5, 4, [8, 10, 56])
Content of Tuple with mixed valuest ('Rohit', 'Dhoni', 7, 3, 9, True, 4500)

In [8]:
# Creating tuple with tuple function
lst1 =[1,2,3,4,5,6]
tup1 = tuple(lst1)
print(tup1)
dict1 = {"Name":"ABCD","Salary": 8900}
tup2 = tuple(dict1)
print(tup2)
str = "PARTHA"
tup3 = tuple(str);
print(tup3)

(1, 2, 3, 4, 5, 6)
('Name', 'Salary')
('P', 'A', 'R', 'T', 'H', 'A')

#### Accessing Tuple Elements

In [9]:
# Accessing tuples with relative position
tup1 = ("Jimi", 500, True, 3.8, 3000, 2019)
print("Last position Value from above List:--", tup1[5])
print("3rd Element from last of the List::--", tup1[-5])

Last position Value from above List:-- 2019
3rd Element from last of the List::-- 500

In [10]:
# Access Cross section of Tuples

tup1 = ('Kedarnath Temple', 'Somnath Temple', 'Varanashi Temple', 'Traimbekeshar temple', 'Ramesharam Temple')
print(tup1[1:4])
print(tup1[:2])

('Somnath Temple', 'Varanashi Temple', 'Traimbekeshar temple')
('Kedarnath Temple', 'Somnath Temple')

In [11]:
# Access Cross section of Tuple  with Stride
tup1 = (1,2,3,4,5,6,7,8,9,10,11,12,13,14)
print(tup1[1:12:2])

(2, 4, 6, 8, 10, 12)

In [4]:
# Index- Returns the zero based (positive) index of the first element matching the value
tup1 =(1,2,3,4,5,6,7,8)
print(tup1.index(6))

5

In [3]:
# Count- indicating how many times the same number is in the tuples
tup1 =(4,5,7,8,34,45,8,5)
print(tup1.count(34))

1

In [18]:
# Any - Any method returns true if any of the elements True
tup1 =(4,5,7,8,34,45,8,5)
tup2 = (0,0)
print(any(tup1))
print(any(tup2))

True
False

In [6]:
# All - Returns True if all the elements in the tuples are true
tup1 = (1,2,3,4,5,6,7,8,9,10,11,12,13,14,0)
tup2 =(1,1,1,1)
print(all(tup1))
print(all(tup2))

False
True

In [7]:
# Enumerate - The enumerate method takes in an iterable (Tuple in this case) adds a sequence number
tup1 = ('Kedarnath Temple', 'Somnath Temple', 'Varanashi Temple', 'Traimbekeshar temple', 'Ramesharam Temple')
print(list(enumerate(tup1)))

[(0, 'Kedarnath Temple'), (1, 'Somnath Temple'), (2, 'Varanashi Temple'), (3, 'Traimbekeshar temple'), (4, 'Ramesharam Temple')]

In [9]:
# Zip - is a built in python function that takes in two sequence and returns a combined pair set
tup1 = (1,2,3,4,5)
tup2 = ('Kedarnath Temple', 'Somnath Temple', 'Varanashi Temple', 'Traimbekeshar temple', 'Ramesharam Temple')
print(list(zip(tup1,tup2)))

[(1, 'Kedarnath Temple'), (2, 'Somnath Temple'), (3, 'Varanashi Temple'), (4, 'Traimbekeshar temple'), (5, 'Ramesharam Temple')]

In [13]:
# Sorted - Returns a sorted List of the passed Tuple
res = sorted(('Kedarnath Temple', 'Somnath Temple', 'Varanashi Temple', 'Traimbekeshar temple', 'Ramesharam Temple'))
print("Sorted:", res)
rev = sorted(('Kedarnath Temple', 'Somnath Temple', 'Varanashi Temple', 'Traimbekeshar temple', 'Ramesharam Temple'), reverse = True)
print("Reverse Sorted::--",rev)

Sorted: ['Kedarnath Temple', 'Ramesharam Temple', 'Somnath Temple', 'Traimbekeshar temple', 'Varanashi Temple']
Reverse Sorted::-- ['Varanashi Temple', 'Traimbekeshar temple', 'Somnath Temple', 'Ramesharam Temple', 'Kedarnath Temple']

In [14]:
# Returns a reversed iterator of the sequence that is passed as a parameter
tup2 = ('Kedarnath Temple', 'Somnath Temple', 'Varanashi Temple', 'Traimbekeshar temple', 'Ramesharam Temple')
res = list(reversed(tup2))
print("Reversed::--",res)

Reversed::-- ['Ramesharam Temple', 'Traimbekeshar temple', 'Varanashi Temple', 'Somnath Temple', 'Kedarnath Temple']

In [15]:
# Max - Returns the maximum value from the tuple
tup1 = (1,2,3,4,5,6,7,8,9,10,11,12,13,14)
print("Maximum Number is::--",max(tup1))

Maximum Number is::-- 14

In [16]:
# Return maximum value from Tuple
tup1 = (1,2,3,4,5,6,7,8,9,10,11,12,13,14)
print("Total of Tuple::--",sum(tup1))

Total of Tuple::-- 105

In [ ]:
# Copy using Deep Copy